{% extends "base.html" %}
{% load static %}
{% block content %}


    <h1>All Albums</h1>
    <ul class="album-list">
        {% for album in albums %}
            <li class="album-item">

                <img src="{{ album.image }}" alt="{{ album.album_name }}" class="album-image">
                <div class="album-details">
                    <h3>{{ album.album_name }} - {{ album.artist }}</h3>
                    <h3>Rating: {{ album.average_rating|floatformat:2 }} </h3>
                    <!-- Display other album details here -->
                    <div class="description-box">
                        <p>{{ album.description }}</p>
                    </div>
                    <div class="description-box">
                        <a href="{% url 'review' album.id%}">Make a review</a>
                        <a href="{% url 'album-edit' album.id%}">Edit Album</a>
                        <a href="{% url 'album-details' album.id%}">Details</a>
                        <a href="{% url 'album-delete' album.id%}">Delete Album</a>
                        <a href="{% url 'review-list' album.id%}">See All Reviews</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <!-- Display pagination links -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}