{% extends "base.html" %}
{% load static %}
{% block content %}


<section class="createReview">
    <div class="form-container">
        <form  method="post">
            <fieldset>
                <legend>Make a Review</legend>
                <div class="form-fields">
                    <!-- Form for Adding Album -->
                    {% csrf_token %}
                    {{ form }}
                </div>
                <!-- Button for Adding Album -->
                <button class="add-album" type="submit">Submit Review</button>
            </fieldset>
        </form>
    </div>
</section>


{% endblock %}